p.centro { /* Aplica as alterações a todos os parágrafos que tiverem a classe "centro" */
	text-align: center; /* Alinha o texto ao centro */
	color: red; /* Escreve o texto com a cor vermelha */
}

p.largo { /* Aplica as alterações a todos os parágrafos que tiverem a classe "largo" */
	font-size: 300%; /* Escreve o texto com o triplo do tamanho */
}